.accordion {
    width: 250px;
    border-radius: 8px;
    background-color: transparent;
    padding-right: var(--padding-x);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;

}
.accordion__title {
color: #333;
opacity: 0.5;
}

details {
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
}

details:last-child {
    border:none;
}

summary {
    list-style: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: url("../../assets/icons/arrow-down.svg");
    transition: transform 0.2s ease;
}

details[open] summary::after {
    transform: rotate(-180deg);
}