.card {
    width: 240px;
    height: 371px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    transition-duration: 0.2s;
    cursor: pointer;
    position: relative;

}

.card:hover {
    transform: scale(1.05);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 24px;
    row-gap: 24px;
}

.card__image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline: 16px;
}

.card__title {
    color: var(--color-dark);
    opacity: 0.7;
    padding-bottom: 12px;
    height: 60px;
}