.category {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    font-weight: 500;

}

.category__list {
    display: flex;
}

.category__list-button {
    padding: 13px 24px;
    border: 1px solid var(--color-gray-alt);
    background-color: transparent;
}

.category__list-button:hover {
    background-color: var(--color-gray-alt);
}

.category__list-button:active {
    opacity: 0.7;
}

.category__list-item:first-child  .category__list-button {
    border-bottom-left-radius: calc(var(--border-radius) * 2) ;
    border-top-left-radius: calc(var(--border-radius) * 2) ;
}

.category__list-item:last-child  .category__list-button {
    border-bottom-right-radius: calc(var(--border-radius) * 2) ;
    border-top-right-radius: calc(var(--border-radius) * 2) ;
}