@font-face {
    font-family: 'SF UI Display';
    src: url('../../public/fonts/SFUIDisplay-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../../public/fonts/SFUIDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../../public/fonts/SFUIDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../../public/fonts/SFUIDisplay-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('../../public/fonts/SFCompactDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Compact Rounded';
    src: url('../../public/fonts/SFCompactRounded-Ultralight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}