body {
    font-family: "SF UI Display", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--color-dark);
}

input,
label,
button,
a,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    text-decoration-color: rgba(255, 255, 255 , 0.3);
    color: inherit;
}